@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tus variables para el modo oscuro */
:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

.dark {
  --background: #090d16;
  --foreground: #f8fafc;
}